<div id="presentation" class="presentation">
  <div id="editor" class="editor">
      <textarea id="code" class="code"></textarea>
  </div>
  <div id="slides" class="slides"> 
    <button id="save_slideshow" style="display:none;">Save</button>
    <div id="slide_options" style="display:none;">
      <button id="deactivate_current">Deactivate</button>
      <button id="delete_current" >Delete</button>
      <button id="duplicate_current" >Duplicate</button>
    </div>
  </div>
  <div class="controlbar">
    <div id="boxes">
    </div>
  </div>
</div>

