<div id="presentation" class="presentation">
  <div id="editor" class="editor">
    <textarea id="code_mirror_textarea" class="code"></textarea>
    <input id="face-rounded-border" type="range" min="50" max="100" value="70" onchange="handleCorner(event)">
  </div>
  <div id="slides" class="slides"> 
    <button id="save_slideshow" style="display:none;">Save</button>
    <div id="slide_options" style="display:none;">
      <button id="deactivate_current">Deactivate</button>
      <button id="delete_current" >Delete</button>
      <button id="duplicate_current" >Duplicate</button>
    </div>
  </div>
  <div class="controlbar">
    <div id="boxes">
    </div>
  </div>
</div>

