.ui-resizable-nw {
cursor: nw-resize;
width: 20px;
height: 20px;
left: -8px;
top: -8px;
}
.ui-resizable-ne {
cursor: ne-resize;
width: 20px;
height: 20px;
right: -8px;
top: -8px;
}
.ui-resizable-se {
cursor: se-resize;
width: 20px;
height: 20px;
right: 1px;
bottom: 1px;
}
.ui-resizable-sw {
cursor: sw-resize;
width: 20px;
height: 20px;
left: -8px;
bottom: -8px;
}
.ui-state-disabled {
    opacity: 1.0;
}
.ui-resizable-handle { opacity: 0; }
.ui-state-highlight { 
    height: 700px; 
    width: 900px;
    -webkit-transform: scale(.3);
}

