  <div id="presentation" class="presentation editing_mode">
    <div id="cue_box"> Editing Mode </div>
    <div id="editor" class="editor">
        <textarea id="code" class="code"></textarea>
    </div>
    <div id="slides" class="slides">
    <input id="face-rounded-border" type="range" min="50" max="100" value="70" onchange="handleCorner(event)">
    </div>
  </div>

